<h3>Dashboard</h3>
<h5>Welkom {{name}}</h5>
{{#if articles}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each articles}}
            <tr>
                <td><a href="/articles/{{_id}}">{{title}}</a></td>
                <td>{{createdAt}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
<p>Helaas heb je nog geen opgeslagen artikelen! Voeg er snel een toe via onze chrome extensie of upload een PDF via het + icoontje</p>

{{/if}}